/* imports */

/* external imports */
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;600&family=Ropa+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500&display=swap');

/* local imports */
@import url("grid.css");

:root{
    --clr-primary: #fcba03 /*linear-gradient(to right, #00adb5, #fd3f4f)*/;
}

/* reset browser settings */
*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    text-indent: 0;
}
a{
    text-decoration: none;
}

/* set default css configuration */
*{  
    box-sizing:border-box;
}





/* prefered generic styles */


a,
a:visited,
a:active{
    color: #464555;
}

body{
    font-family: 'Roboto Slab', serif;
    color: #464555;
    font-size: 16px;
}

p,a{
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
h1,
h2,
h3,
h4,
h5{
    font-family: 'Ropa Sans', sans-serif;
    font-weight: normal;
}
h1{
    font-size: 48px;
    line-height: 72px;
}

h2{
    font-size: 40px; 
    line-height: 60px;
    font-weight: normal;
}

h3{
    font-size: 32px; 
    line-height: 48px;
}

h4{
    font-size: 24px; 
    line-height: 36px;
}

h5{
    font-size: 20px; 
    line-height: 30px;
}

section{
    padding-bottom: 50px;
}

@media (min-width: 415px) and (max-width: 1280px){
    h1{
       font-size: 40px;
       line-height: 48px;
    }

    h3{
        font-size: 24px;
        line-height: 30px;
    }
}

@media (max-width: 414px){
    h1{
        font-size: 41px;
        line-height: 60px;
    }
    
    h2{
        font-size: 34px; 
        line-height: 51px;
        font-weight: normal;
        font-weight: 900;
    }
    
    h3{
        font-size: 27px; 
        line-height: 40px;
        font-weight: 900 !important;
    }
    
    h4{
        font-size: 21px; 
        line-height: 32px;
        font-weight: 900;
    }
    
    h5{
        font-size: 17px; 
        line-height: 26px;
        font-weight: 900;
    }
    
    section{
        padding-bottom: 50px;
    }

}
/* Theme Styles */

 /* color classes */

.p-color{
    /* primary color */
    color: #384DA1;
    /*color: var(--clr-primary);*/
}

.s-color{
    /* secondary color */
    color: #6070A8;
}

.ca-color-1{
    /* call to action color 1*/
    color: #613aa1;
}

/* font classes */
.p-font{
    /* primary font used by default for all kinds of text */
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

}
.s-font{
    /* secont font used for - titles - subtitles - from labels -  */
    font-family: 'Ropa Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    /* line-height: 21px; */
}


h1.s-font{
    display: inline-block;
    padding: 15px 0;
}

@media (max-width: 414px){
    .p-font{
        line-height: 48px;
    }
    h1.s-font{
        font-weight:900;
        line-height: 40px;
    }

}

/* background color */

.p-bg{
    background-color: #E9F7FF;
}

.s-bg{
    background-color: rgba(196, 196, 196, 0.2);
}

.tr-bg{
    background-color: transparent !important;
}


/* paddings */

.p-pad{
    /*padding: 1.2em 0;*/
    padding: 50px 0 0 0;
}

/* margins */

.p-mar{
    margin: 1.2em 0;
}

/* sizing */

/* font sizing */

.f-small{
    /* small */
    font-size: 16px;
    line-height: 24px;
}

.f-small-mid{
    font-size: 24px;
    line-height: 36px;
}

.f-mid{

    /* medium */
    font-size: 32px;
    line-height: 48px;
}

.f-mid-big{
    font-size: 48px;
    line-height: 74px;
}

.f-big{
    /* big */ 
    font-size: 64px;
}

/* common component styles */

/* page titles */

.p-page-title{
    display: flex;
    height: 150px ;
    align-items: center;
    
}

/* bottons */

/* primary button */
.p-button{
    display: inline-block;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #3A4DA1 !important;
    border: 3px solid #3A4DA1;
    /*padding: 6px 24px;*/
    padding: 0.6em 2em;
    border-radius: 3px;
}

.p-button:hover{
    border: 3px solid #613aa1;
    background-color:#613aa1 ;
    color: #ffff !important;
    transition: 500ms;
}

.p-button:active{
    background-color: #D4EEFF;
    border: 3px solid #3A4DA1;
    color: #613aa1 !important;

}

.filter-btn{
    display: inline-block;
    padding: 10px 5px;
    margin: 5px;
}

/* secondary button */
.s-button{
    display: inline-block;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #613aa1 !important;
    border: 3px solid #613aa1;
    /*padding: 6px 24px;*/
    padding: 0.6em 2em;
    border-radius: 3px;
}

.s-button:hover{
    border: 3px solid  #3A4DA1;
    background-color:#3A4DA1 ;
    color: #ffff !important;
    transition: 500ms;
}

.s-button:active{
    background-color: #D4EEFF;
    border: 3px solid #613aa1;
    color: #3A4DA1  !important;

}


/* forms */

/* full width contact forms */
.form-container{
    display: flex;;
    width: 900px;
    margin: auto;         
}

.form-container *{
    display: block;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 32px;
}

.form-container .form{
    display: inline-block;
    margin: 0 auto;
}

.form-container label{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 25px;
}

.form-container input{
    border: 3px solid #6070A8;
}

.form-container textarea{
    resize: none;
    width: 900px;
    height: 400px;
    padding: 30px 20px;
    border: 3px solid #6070A8;
    outline: -30px solid #6070A8;
}

.form-container textarea::placeholder{
   
}

.form-container input, 
.form-container textarea{
    margin-bottom: 40px;
}

.form-container input[type=text],
.form-container input[type=email]{
    box-sizing: border-box;
    height: 70px;
    width: 500px;
    padding: 15px 15px;
}

.form-container input[type=text]::placeholder,
.form-container input[type=email]::placeholder,
.form-container textarea::placeholder{
    font-family: 'Ropa Sans', sans-serif;
    font-size: 32px;
}


.form-container input[type=submit]{
    width: 200px;
    padding: 15px 50px;
    background-color: transparent;
}


/* compoenent behaviors*/

.hide-extra{
    overflow: hidden;
}


/* template common styles */
/* header */
/* site navigation */

.mobile-menu-btn{
    display: none;
    position: absolute;
    color: #3A4DA1;
    background-color: transparent;
    font-size: 40px;
    border: none;
    padding: 0px;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.navbar{
    
    position: relative;
    height: 80px;
    background-color: #ffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media (max-width: 414px){
    .navbar{
        display: flex;
       
        justify-content: center;
        align-items: center; 
        /* min-height: 235px; */
        background: #E9F7FF;
        z-index: 1;
    }
}

.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}

@media (max-width: 650px){
    .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        
    }
}


.logo a{
    display: inline-block;
}
.logo img{
    width: 70px;
    height: 70px;   
}

.nav ul{
    display: flex;
}

.nav li{
    margin-right: 40px;
}

.nav li a{
    font-size: 20px;
    color: inherit;
    padding: 10px;
}

.nav li:hover .nav li{
    background: #384DA1;
    color: #ffff;
}

.nav li:nth-last-of-type(1){
    margin-right: 0;
}

@media (min-width: 415px) and (max-width: 1280px){
    .nav li a{
        font-size: 100%;
    }
}

@media (max-width: 650px){
    .mobile-menu-btn{
        display:inline-block;
    }

    .nav .menu{
        position: absolute;
        background-color: rgba(57, 31, 99, 0.8);
        width: 100%;
        top: 80px;
        height: calc(100vh - 80px);
        left: -100%;
        z-index: 10000;
    }

    .mobile-menu-btn:active .menu{
        display: block;
    }
    .nav ul{
        position: absolute;
        flex-direction: column;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
    }
    .nav li{
        margin: 0 auto;
        border-bottom: 1px solid rgba(255,255,255,0.5);
        display: inline-block;
        width: 100%;
    }
    
    .nav li:nth-last-of-type(1){
        margin: 0 auto;
    }
    .nav li a{
        display: block;
        color: #ffff;
        text-align: center;
        padding: 55px auto;
    }
}

/* secondary components */

.s-links{
    display: flex;
    /* background-color: rgba(184, 135, 11, 0.267); */
    align-items: center;
    /*width: 455px;*/
    
}
.s-links h2{
    display: inline;
    float:left;
}
.s-links ul{
    display: flex;
    margin-left: 190px;
    justify-content: space-between;
    align-items: center;
}

.s-links li{
    margin: 0 15px;
}
.s-links .s-link{
    
}

.s-links .s-link i{
    font-size: 30px;
    color: #8D8D8D;
}

@media (max-width:414px){
    .s-links{
        flex-direction: column;
        align-content:space-around;
        width: 100%;
    }

    .s-links ul{
        margin-left: 0;
    }
}

/* footer */

/* social footer */
.social-footer{
    background-color: #F3F3F3;
    margin: 0;
    padding: 15px 0;

}

/* site footer */
.footer{ 
    height: 100px;
    background-color: #E9F7FF;
}

.footer .container{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.footer p a{
    color: #613aa1;
    font-weight: bold;
}

.footer ul{
    display: flex;
    color: #6070A8 !important;
    
}


.footer ul li{
    margin-right: 40px;   
}

.footer ul li a:visited{
    color: #6070A8;
}
.footer ul li:nth-last-of-type(1){
    margin-right:0;
}

@media (max-width: 414px){
    .footer{
        position: relative;
        min-height: 205px;
        padding: 20px;
    }
    .footer ul,
    .footer .container{
        flex-direction: column;
        text-align: center;
    }

    .footer .container{
        justify-content: stretch ;
        flex-direction: column-reverse;
        height: auto;
    }

    .footer ul li,
    .footer ul li:nth-last-of-type(1){
        margin: 0 auto;
    }

    #cprght{
        position: absolute;        
        background-color: rgba(0,0,0,0.2);
        width: 100%;
        bottom: 0;
    }
    #cprght *{
        padding: 5px;
    }

}


/*This container is generic it encompasses all with the scope of the content part*/
.container {
    background-color: #fcba03;
    width: 1200px;
    height: auto;
    margin: 0 auto;
} 

@media (min-width: 415px) and (max-width: 1280px){
    .container{
        width:90%;
    }
}

@media (max-width: 414px){
    .container{
        width: 100%;
        padding: 0 20px;
    }
}



/* Content*/
.content{
    min-height: calc(100vh - 180px);
    /*background-color: lightgreen;*/
}
@media (max-width: 414px){
    .content{
        position: relative;
        z-index: 0;
    
    }
}

/* hompage banner */

.banner{ 
    background-color: rgba(255,255,255,0.6);
    /*height: 525px;*/
    padding-top: 100px;
}

.banner #img-container{
    position: relative;
    width: 290px;
    height: 350px;
    overflow: hidden;
}

.banner #img-container img{
    position: absolute;
    width: 545.28px;
    height: 353.58px;
    left: -50px;
    top:0px;
    opacity: 0.9;
}

.banner h3{ 
    opacity: 0.75;
}

.banner #banner-content{
    padding: 0 110px;
}




.banner #banner-description{
    margin-top: 60px;
    margin-bottom: 60px;
}

@media (min-width: 415px) and (max-width: 1280px){
    .banner #banner-content{
        padding: 0 40px;
    }

    .banner #img-container{
        width: 100%;
        overflow: visible;
    }


    .banner #img-container img{
        left: 50%;
        transform: translateX(-50%);
    }

}

@media (max-width: 414px){
    .banner{
        /*background-color: red;*/
        text-align: center;
        padding-top: 0;
        /*height: auto;*/
    }
    .banner .img-container{
        width: 90%;
    }

    .banner #banner-content{
        padding:0;
        width: 100%;
    }

}
/* Cards */
.section-header{
    margin-bottom: 50px;
}
.section-header .title,
.section-header .sub-title{
    text-align: center;
    font-weight: 400;
 }
.card-list{
    /* Let it empty now*/
    background: transparent;
}

.card{
    background-color: #D4EEFF;
    width: 290px;
    min-height: 150px;
    margin: 0 auto;
}

.card:hover{
    background-color: #613aa1;
    transition: 400ms;
}

.card:hover *{
    color: #ffff;
    transition: 600ms;
}

.card .card-img{
    position: relative;
    height: 230px;
    overflow: hidden;
}
.card .card-img img{
    position: absolute;
    width: 120%;
    left: -25px;
}
.card .card-description{
    padding: 12px 30px;
}

.card .card-description h4{
    max-height: 70px;
    font-size: 22px;
}

.card .brand{
    background: rgba(255,255,255,0.2);
    display: inline-block;
    width: 100%;
    padding: 2px 4px;
    background-blend-mode:soft-light;
}


.card .brand:hover{
    background: #D4EEFF;
}

.card .brand:hover *{
    color: #613aa1;
}

/* banners */
.call-to-action-banner{
    padding: 40px;
    vertical-align: middle;
}

.call-to-action-banner h1{
    margin-bottom: 24px;
}

.call-to-action-banner h3{
    margin-bottom: 16px;
}

.card-square{
    /*background-color: #D4EEFF;*/
    display: flex;
    flex-wrap: wrap;

}
.card-square>div{
    /*border:1px solid lightseagreen;*/
    width: 290px;
    height: 230px;
    margin: 5px;
    flex-shrink: 0;
    flex-grow: 0;
}
.card-square>div:nth-last-of-type(1),
.card-square>div:nth-last-of-type(3)
{
    margin-right : 0px;

}

.card-square>div:nth-last-of-type(2),
.card-square>div:nth-last-of-type(4){
    margin-left: 0;
}

.card-square>div:nth-last-of-type(3),
.card-square>div:nth-last-of-type(4){
    margin-top: 0;
}
.card-square>div:nth-last-of-type(1),
.card-square>div:nth-last-of-type(2){
    margin-bottom: 0;
}

@media (min-width: 415px) and (max-width: 1280px){
    .call-card-section{
        flex-direction: column;
        /*background-color: #D4EEFF;*/
    }

    .call-card-section>div{        
        width: 100%;
    }

    .card-square{
        justify-content:space-around;
    }

}


@media (max-width:414px){
#section-home-3>div>div{
    align-content: center;
}

.card-square{
    justify-content: center;
}
.card-square>div{
    margin: 5px 0 !important;
}

}

.label{
    display: inline-block;
    position: relative;
    width: 290px;
    height: 230px;
    z-index: 0;
    overflow: hidden;
}
.label a{    
    height: 230px;
    width: 290px;
    display: flex;
    align-items: center;
    color:#ffff;
    z-index: 25;
    opacity: 1;
}

.label h3{
    margin: 0 auto;
}

.label img{
    position: absolute;
    width: 150%;
    top:0;
    left:0;
    z-index: -3;
}
.label>a::after{
    content:"";
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: #000 !important;
    opacity: 0.5;
    z-index: -2;
}

.label:hover a::after{
    content:"";
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: #613aa1 !important;
    opacity: 0.5;
    transition: 1000ms;
    z-index: -1;
}


/* about page */
.about-img-container{
    background: chocolate;
    height: 490px;
    width: 380px;
    overflow: hidden;
}

.about-img-container img{
    position: relative;
    width: 199%;
    top: 0px;
    left: -220px;

}

.text-container{
    padding: 50px 125px;
}

@media (max-width: 414px){
    .text-container{
        padding: 0;
    }
}

/* contributor box */

.contrib-img{
    display: inline-block;
    /*background: cornflowerblue;*/
    width: 175px;
    height: 175px;
    border-radius: 80px;
    overflow: hidden;
}
.contrib-img img{
    display: block;
    width: 90%;
    border: 1px solid #374CA0;
    margin: 0 auto;
}

.contrib-description{
    display:inline-flex;
    height: 175px;
    padding-left: 25px;
    vertical-align: top;
    flex-direction: column;
    justify-content: center;
}
.contrib-description>*{
}

/* cards page / reviews page */

.filter{
    font-family: 'Roboto Slab', serif;
    letter-spacing: 12%;
    /* background-color: #D4EEFF; */
    padding: 10px 20px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);

}
.filter form { 
    display: flex;
    font-size: 16px;
    flex-direction: column;
    font-family: 'Roboto Slab', serif !important;
}
#formBtn{
    display: none;
}
@media (max-width: 414px){
    .filter{
        position: relative;
        margin-bottom: 25px;
    }
    .filter h4{
        display: inline-block;
    }

    #formBtn{
        position:absolute;
        display: inline-block;
        background: transparent;
        border: none;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);    
    }

    #filterForm{
        display: none;
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        height: 100hv;
        background-color: blue;
    }
}

.filter select:focus{
    outline: none;
    /*background: #D4EEFF;*/
    background-color: #ffff;
}

/*
.filter select:enabled{
    background-color: #D4EEFF;
}
*/
.filter select{
    font-family: 'Roboto Slab', serif !important;

    margin: 5px;
    padding: 0 20px;
    height: 40px;
    border: 1px solid #AAAABC;
    letter-spacing: 12%;
}



.filter options{
    font-family: 'Roboto Slab', serif !important;
    height: 40px;
}

.filter input[type=submit]{
    font-family: 'Roboto Slab', serif !important;
    background-color: #ffff;
    width: 150px;
    border: 1px solid #AAAABC;
}


/* Review card */

.r-card{
    /*font-family: 'Ropa Sans', sans-serif;*/
    /*font-family: Roboto;*/
    font-family: 'Roboto Slab', serif;
    position: relative;
    margin-bottom: 10px;
    width: 290px;
    height: 400px;
    /* background: rgba(212, 238, 255, 0.4); */
    /* border: 2px solid #613aa1; */
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.r-card>a{
    display: block;
}

.r-card .img-container{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.r-card img{
    width: 120%;
}

.r-card .r-description{
    padding: 20px 20px;
    height: 200px;
}

.r-card .r-description h4{
    color:#384DA1;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 23px;
}

.r-card .r-description .excerpt{
    max-height: 60px;
    overflow: hidden;
}

.r-card .r-description .excerpt p{
    font-size: 14px !important;
    vertical-align: top;
    line-height: 20px;
}

.r-card .r-description .card-labels{
    position: absolute;
    height: 40px;
    width: 100%;
    bottom: 20px;
    left:0;
    /*background-color: #613aa1;*/
    color: #ffff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.r-card .r-description .card-labels a,
.r-card .r-description .card-labels p{
    position: absolute;
    display: inline-block;
    color: #464555;
    background-color: rgba(255,255,255,1);
    padding: 5px 15px;
    top: 50%;
    transform: translateY(-50%);
}

.r-card .r-description .card-labels a{
    left: 5px;
}

.r-card .r-description .card-labels p{
    right: 5px;
}


.pager{
    width: 500px;
    margin: 50px auto;
}
.pager ul{
    display: flex;
    justify-content: space-between;
}

.pager li{
    
    
}

.pager li a{
    background-color: #C4C4C4;
    display: inline-block;
    color: #000;
    width: 40px;
    padding: 5px;
    text-align: center;
}

.pager .pager-dots{
    /*vertical-align: middle;*/
    line-height: 20px;
    height: 40px;
    letter-spacing: 3px;
    font-size: 30px;
}
.pager li:nth-of-type(1) a,
.pager li:nth-last-of-type(1) a,{
    background-color: transparent;
    font-size: 20px;
    vertical-align: middle;
    /*line-height: 20px;
    height: 40px;*/
    
}

@media (max-width: 414px){
    .r-card{
        width: 100%;
        margin: 0;
    }

    .pager {
        width: 100%;
    }

    .pager li a{
        width:35px;
    }

    .pager li:nth-of-type(4),
    .pager li:nth-last-of-type(4){
        display: none;
    }
}

/* single review product page */
.prod-call-action{
 
}

.prod-call-action .s-links ul{
    margin-left: 60px;
}

#product-review{
    padding-left: 100px;
}

@media (min-width: 415px) and (max-width: 1280px){
    #product-review{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 414px){
    #product-review{
        padding-left: 0;
    }
}

/* contact us page*/

.page-title{
    width: 900px;
    margin: auto;
    margin-bottom: 70px

}

.page-title h1{
    font-weight: 400;
}
.contact-description{
    width: 900px;
    margin:auto;
    margin-bottom: 70px;
}

.contact-description span{
    font-style: italic;
}